body {
  margin: 1em 2em; }

h1 {
  font-family: sans-serif;
  font-weight: 500; }

h2 {
  font-family: sans-serif;
  font-weight: 500; }

h3 {
  font-family: sans-serif;
  font-weight: 500; }

p {
  font-family: serif; }

aside {
  font-family: serif; }

time {
  font-family: serif; }

#menu-outer {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 0.3em; }

#menu-inner {
  padding: 0.3em; }
  #menu-inner a {
    display: inline-block;
    margin: 0.1em 0.5em 0 0.3em; }

#pagination {
  text-align: center; }
  #pagination .prev {
    display: inline-block;
    margin: 0.3em; }
  #pagination .next {
    display: inline-block;
    margin: 0.3em; }

#recent-posts .recent-post-item {
  margin-bottom: 0.3em; }
  #recent-posts .recent-post-item a {
    margin-right: 1em; }
